<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/logo.png') }}"
      type="image/x-icon"
    />

    <!-- <script type="text/javascript" src="https://livejs.com/live.js"></script> -->
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/bin/output_styles.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/bin/my-styles.css')}}"
    />
    <title>Movify</title>
  </head>
  <body>
    {% block content %}{% endblock %}
    <script
      src="https://kit.fontawesome.com/eb192351e6.js"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="{{url_for('static', filename='js/base.js')}}"
    ></script>
    <script
      type="text/javascript"
      src="{{url_for('static', filename='js/jq.js')}}"
    ></script>
  </body>
</html>
